.Sponsors {
  width: 100vw;
  height: 100vh;
}
.Sponsors .heading {
  width: 100vw;
}
.Sponsors .heading img {
  margin-top: 4rem;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #past-events{
    margin-top: -44rem;
  }
}
