.NavWrapper {
  position: sticky;
  top: 0;
  z-index: 999;
}
.Nav {
  left: 0%;
  width: 100%;
  height: 56px;
  position: relative;
}
.Nav .logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.Navbg1 {
  width: 80%;
  border-top: 56px solid #300e57;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.Navbg2 {
  position: absolute;
  margin: 0 auto;
  width: 85%;
  border-top: 56px solid #fdc32d;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 8px 6px -6px #fdc32d;
}
.Nav .links {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-variant: all-small-caps;
  z-index: 9999;
  color: #ffffff;
}
.Nav .link1 {
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
}

.Nav .link2 {
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
}

.Nav .link3 {
  top: 50%;
  transform: translateY(-50%);
  right: 15%;
}

.Nav .link4 {
  top: 50%;
  transform: translateY(-50%);
  right: 25%;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }
  .Nav img {
    width: 100%;
  }
  .Nav .logo {
    width: 150px;
    z-index: 5;
  }
  .Navbg1 {
    width: 80%;
    border-top: 48px solid #300e57;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
  .Navbg2 {
    width: 80%;
    border-top: 48px solid #fdc32d;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
  .Navbgsmall {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(1, 8, 13, 0.989);
    transition: all 0.5s ease-in-out 0s;
    transform: translate(-100%, 0);
  }
  .Nav .link1 {
    top: 30%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .Nav .link2 {
    top: 40%;
    transform: translate(-50%, -50%);

    left: 50%;
  }

  .Nav .link3 {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .Nav .link4 {
    top: 60%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .hamburger {
    position: absolute;
    top: 30%;
    right: 21%;
    z-index: 999999;
  }
}
